
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
a:hover {
  color: red;
}
button:hover {
  color: red;
  border: 1px solid black;
}
body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}
.header {
    min-height: 640px;
    box-sizing: border-box;
    background-image: url(../images/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    background-size: cover;
    position: relative;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.header::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.container {
    position: relative;
    z-index: 2;
}
.noemi-logo {
  width: 269px;
  text-align: center;
  margin-top: 14.75rem;
}
.button-menu {
    position: absolute;
    top: 40px;
    right: 1px;
    display: block;
    background: #fff;
    width: 28px;
    height: 4px;
    border: none;
    padding: 0;
    margin: 0;
}
.button-menu::after, .button-menu::before {
  content: "";
  display: block;
  background: #fff;
  width: 28px;
  height: 4px;
}
.button-menu::after {
  position: absolute;
    top: 8px;

}
.button-menu::before {
  position: absolute;
   top: -8px;
}
@media (max-width: 1199px) {
.menu-list {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
}
.intro {
text-align: center;
font-family: OpenSans-regular, Arial, sans-serif;
color: #fff;
font-size: 13px;
line-height: 36px;
display: block;
text-transform: uppercase;
position: relative;
z-index: 2;
margin-top: 22px;
}
@font-face {
    font-family: OpenSans-regular;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    
}
@font-face {
    font-family: OpenSans-bold;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;  
}
    .resent-posts-header {
        text-transform: uppercase;
        font-family: OpenSans-bold, Arial, sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: #000000;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 44px;
      }
      .resent-posts-header::after {
        content: "";
        height: 3px;
        width: 66px;
        background-color: #b59f5b;
        margin-top: 14px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
}
.page-content{
    margin-top: 40px;
}

.trends {
margin-top: 24px;
}
.main-heading-link {
    text-decoration: none;
}
.trend-garden { 
    min-height: 233px;
    box-sizing: border-box;
    background-image: url(../images/trend1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    background-size: cover;
    position: relative;
    margin-left:  auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 89px;
    padding-bottom: 15px;
}
.trend-garden::after{
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.trend-border {
    border: 3px solid #b59f5b;
    position: relative;
    z-index: 2;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 10px;
    bottom: 10px;
}
.category-article {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.category-article-item {
    font-family: OpenSans-bold, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #b59f5b;
    word-spacing: 18px;
    position: relative;
    z-index: 2;
    padding-right: 15px;
    text-decoration: none;
  }
  .category-article-item-link {
    text-decoration: none;
    color: inherit;
  }
.main-heading{
    text-transform: uppercase;
    font-family: OpenSans-bold, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;  
    position: relative;
    z-index: 2;
}
.trend-heading-link{
  color: #fff; 
  text-decoration: none;
}
.trend-food {
    min-height: 233px;
    box-sizing: border-box;
    background-image: url(../images/trend2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    background-size: cover;
    position: relative;
    margin-left:  auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 89px; 
    margin-top: 3px;  
    padding-bottom: 15px;
}
.trend-food::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.trend-travel {
    min-height: 233px;
    box-sizing: border-box;
    background-image: url(../images/trend3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    background-size: cover;
    position: relative;
    margin-left:  auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 89px; 
    margin-top: 3px; 
    padding-bottom: 15px;
}
.trend-travel::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.trend-lemon {
    min-height: 233px;
    box-sizing: border-box;
    background-image: url(../images/trend4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    background-size: cover;
    position: relative;
    margin-left:  auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 89px; 
    margin-top: 3px;  
    padding-bottom: 15px;
}
.trend-lemon::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
}
@media (max-width: 640px) and (orientation: landscape) {

    .trends {
        display: flex;
        flex-wrap: wrap;
    }
    .trend-lemon, .trend-travel, .trend-food, .trend-garden{
        width: 50%;
    }
    .trend-food{
        margin-top: 0;
}
    .trend-food .trend-border {
        padding-bottom: 15px;  
     
}

}
.main-news {
    min-width: 330px;
    margin-top: 44px;
    padding-left: 15px;
    padding-right: 15px; 
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 26px;
    border-bottom: 3px solid #e1dddd;
}
.main-article-img{
    width: 100%;
}
.article-info {
    margin-top: 16px;
    box-sizing: border-box;
    font-family: OpenSans-regular, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #0f0d0e;
    line-height: 1.42;
}
.category-article {
    font-family: OpenSans-bold, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #b59f5b;
    word-spacing: 18px;
    margin-top: 16px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
  }
.main-heading-info {
    font-family: OpenSans-bold, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
    color: #000;
    margin-top: 16px;
    margin-bottom: 26px;
  }
  .main-heading-link{
    color: inherit;
  }
  .date-article {
    font-family: OpenSans-regular, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #888888;
  }
  .author-article {
    font-family: OpenSans-bold, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    padding-left: 16px;
  }
  .resent-post {
    display: flex;
    margin-top: 22px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; 
  }
  .resent-post-img {
      width: 70px;
      box-sizing: border-box;
  }
  .resent-post-info {
    margin-left: 18px;
    display: flex;
    flex-direction: column;
  }
  .resent-post-data {
    font-family: OpenSans-regular, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #888888;
  }
  .resent-heading-link {
    text-decoration: none;
    color: #000000;
  }
  .resent-post-header {
    text-transform: uppercase;
    font-family: OpenSans-bold, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  .form {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .field-description {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  .search {
    height: 48px;
    display: flex;
  }
  .field-group {
      width: 100%;
  }
  .field {
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    background-color: #f3f7f5;
    border: 0;
    font-family: OpenSans-regular, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding-left: 18px;
  }
  .button-search {
    height: 48px;
    width: 16.2%;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
  }
  .button-discription {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  .form-email {
    padding-left: 15px;
    padding-right: 15px;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
  }
  .field-email {
    width: 100%;
    height: 48px;
    background-color: #f3f7f5;
    border: 0;
    margin-top: 23px;
    font-family: OpenSans-regular, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding-left: 18px;
   box-sizing: border-box;
  }
  .subscribe {
    width: 100%;
    height: 48px;
    border: 0;
    background-color: #b59f5b;
    margin-top: 18px;
    font-family: OpenSans-bold, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tags {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .tags-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    margin-top: 24px;
  }
  .tags-link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: OpenSans-bold, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    padding: 7px 10px;
    border: 3px solid #f3f3f1;
  }
  .tags-list-item {
    margin-right: 5px;
    margin-bottom: 24px;
  }
  .categories {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .categories-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .categories-list-item {
    padding-top: 19px;
    padding-bottom: 16px;
    border-bottom: 1px #ededed solid;
  }
  .categories-link {
    text-decoration: none;
    font-family: OpenSans-bold, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
  }
  .sup {
    font-family: OpenSans-bold, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #b59f5b;
    padding-left: 5px;
    vertical-align: super;
  }
  .our_products {

    margin-top: 27px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px; 
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
  }
  .product {
     padding-left: 20px;
     padding-right: 20px; 
     padding-bottom: 27px; 

  }
  .product__body {
    border: 3px solid #b59f5b;
    margin-top: -38px;
    padding-top: 38px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 999;
    min-height: 231px;
  }

  .product__img {
      width: 100%;
  }
  .product__title {
      margin-top: 24px;
      font-family: OpenSans-bold, Arial, sans-serif;
      font-weight: bold;
      font-size: 17px;
      color: #000000;
      text-transform: uppercase;
  }
  .product__description {
    font-family: OpenSans-regular, Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    line-height: 22px;
  }
  .product-link {
    font-family: OpenSans-regular, Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #b59f5b;
    position: relative;
    z-index: 99;
  }
  .product__footer {
      display: flex;
      justify-content: space-between;
  }
  .product__prices{
      display: flex;
      flex-direction: column;
  }
    .product__price_old {
    text-decoration: line-through;
    font-family: OpenSans-bold, Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  .product__price {
    font-family: OpenSans-bold, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;  
  }
  .button-footer {
    display: flex;
    width: 50%;
    min-height: 49px;
    background-color: #b59f5b;
  }
  .product__button {
   font-family: OpenSans-bold, Arial, sans-serif;
   font-weight: bold;
   font-size: 1em;
   color: #ffffff;
   text-decoration: none;
   margin: auto;
   position: relative;
   z-index: 99;
  }
  .footer {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 330px;
  }
  .footer-socials {
    background-color: #f3f7f5;
    min-height: 82px;
    display: flex;
  }
  .socials {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin-left: auto;
    margin-left: right;
    margin: auto;
  }
  .socials-item:hover {
    border: 1px solid black;
  }
  .socials-item:nth-child(n+2){
   margin-left: 28px;
  }
  .socials-link-img {
    width: 25px;
  }
  .copyright {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 47px;
  }
  .link-copyright {
    text-align: center;
    text-decoration: none;
    font-family: OpenSans-bold, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #999999;
  }
  @media (min-width: 641px) and (max-width: 1199px) {
    .header {
      background-image: url(../images/banner-bg-tablet.jpg);
      padding-left: 35px;
      padding-right: 35px;
      display: flex;
      flex-direction: column;
    }
    .container {
      display: flex;
    }
    .logo {
      margin-top: 50px;
    }
    .noemi-logo {
      margin-top: 0;
    }
    .button-menu {
      top: 80px;
    }
    .intro {
    font-size: 23px;
    line-height: 55px;
    margin: auto;
    }
    .trends {
      display: flex;
      flex-wrap: wrap;
  }
  .trend-lemon, .trend-travel, .trend-food, .trend-garden{
      width: 50%;
  }
  .trend-food{
      margin-top: 0;
}
.page-content {
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
}
.main {
  width: 60%;
  margin-right: 35px;
}
.main-news {
  padding-left: 0;
  padding-right: 0;
}
.additional-block {
  width: 40%;
}
.resent-post, .form, .button-search,  .form-email, .tags, .categories {
  padding: 0;
}
.products {
  padding-left: 35px;
  padding-right: 35px;
}
.product__content {
  z-index: 99999;
  position: relative;
}
.all_products {
  display: flex;
  flex-wrap: wrap;
}
.our_products{
  width: 48%;
  padding: 0;
}
.our_products:nth-child(2n+1) {
  margin-right: 20px;
}
.our_products::before {
  top: 192px;
  left: 0;
  right: 0;
}
}
@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trend-lemon, .trend-travel, .trend-food, .trend-garden{
    width: 25%;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .header {
    background-image: url(../images/banner-bg.jpg);
    display: flex;
    flex-direction: column;
  }
    .container {
    display: flex; 
    width: 1170px;
    justify-content: space-between;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  .button-menu {
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  .menu-list {
    display: flex;
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 0;
  }
  .menu-list-item:nth-child(n + 2) {
    padding-left: 38px;
  }
  .menu-link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: OpenSans-regular, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #ffffff;
  }
  .noemi-logo {
    margin: 0;
  }
  .intro {
    margin-top: 140px;
    font-size: 48px;
    line-height: 1.7;
    margin-left: auto;
    margin-right: auto;
    width: 736px;
    text-align: center;
    padding-left: 33px;
  }
  .trends {
    display: flex;
  }
  .trend-lemon, .trend-travel, .trend-food, .trend-garden{
    width: calc(25% - 4px);
    margin-top: 0;
  }
  .trend-garden{
    width: 25%;
    margin-left: 0;
  }
  .trend-lemon {
    margin-right: 0;
  }
  .trends {
    min-height: 320px;
  }
  .trend-border {
    position: absolute;
    bottom: 15px;
    right: 21px;
    left: 21px;
  }
  .page-content {
    display: flex;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  .main{
    width: 778px;
  }
  .main-news {
    display: flex;
    border-bottom: none;
  }
  .article-preview {
    width: 381px;
    box-sizing: border-box;
    background-color: gray;
  }
  img {
    display: block;
  }
  .main-article-img {
    width: 381px;
    height: 294px;
  }
  .article-info{
    margin-top: 0;
    margin-left: 30px;
  }
  .category-article{
    margin-top: 0;
  }
  .date-article {
    margin-top: 30px;
  }
  .main-text {
    margin-top: 50px;
  }
  .additional-block {
    width: 300px;
  }
  .products {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .all_products {
    display: flex;
    justify-content: space-between;
  }
  .our_products::before {
    top: 170px;
  }
  .product {
    width: 300px;
  }
.footer {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}
}
.popup {

  justify-content:center;
  align-items:center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
}
.popup::after {
  content: "";
  background-color: #000000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.popup-content {
  width: 331px;
  background-color: #fff;
  padding-bottom: 30px; 
  margin: auto;
  z-index: 9999;
}
.popup__close {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  top: -25px;
  right: -311px;
  background-image: url(../svg/form-x.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  z-index: 9999;
}
.feedback__header {
  text-transform: uppercase;
  font-family: OpenSans-bold, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -28px;
}
.feedback__header::after {
  content: "";
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  margin-top: 14px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.feedback__title {
margin-top: 20px;
}
.feedback {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}
.label {
  font-family: OpenSans-regular, Arial, sans-serif;
  color: #000;
  font-size: 15px;
}
.select {
  width: 280px;
  height: 48px;
  background-color: #f3f7f5;
  margin-top: 12px;
  border-radius: 0;
  background-image: url(../svg/form-arrows.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 95% center;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #808080;
  padding-left: 20px;
}
.feedback__content {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}
.radio_button {
  display: flex;
}
.radio {
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  height: 1px; 
  width: 1px;
}
.radio-group {
  margin-right: 34px;
  display: flex;
  margin-top: 12px;
}
.radio-group-text {
  font-size: 15px;
}
.radio-group-text::before {
	content: "";
	
	width: 23px;
	height: 23px;

	background-image: url(../svg/form-empty-circle.svg);
	background-repeat: no-repeat;
	background-position: center  center;
  background-size: 20px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}
.radio:checked ~ .radio-group-text::before{
  background-image:url(../svg/form-circle.svg)
}
.textarea {
  border-radius: 0;
  height: 130px;
  width: 100%;
  margin-top: 12px;
  padding-top: 20px;
}
.button-pop {
  height: 48px;
  margin: auto;
  width: 100%;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.popup_hidden {
  display: none;
}


 